h1, h2
{
  font-variant: small-caps;
  border-bottom: dashed 1px black;
  text-align: center;
}

h2
{
  text-align: left;
}

a, a:hover
{
  color: navy;
}

#obal
{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* index.html */

.giraffe {
  float: right;
  margin: 0.5em;
}

.pe
{
  clear: both;
  float: right;
  margin-top: 1em;
  margin-right: .5em;
}

@media screen and (max-width: 600px)
{
  .giraffe
  {
    display: none;
  }

  .pe
  {
    display: none;
  }
}

/* lecturing */

.recomendation
{
  float: right;
  width: 300px;
  background-color: white;
  margin-left: 10px;
  padding-left: 10px;
  border-left: dashed 1px gray;
}